In [6]:
import pandas as pd
import sklearn
from sklearn import svm, preprocessing

In [27]:
db = pd.read_csv("url_features.csv", index_col=0)
db.head()

,Unnamed: 0.1,url,type,url_length,Digits_to_char_ratio,Lcase_to_char_ratio,No_of_parameters,Url_entropy,Has_http,Path_length,Host_length,No_of_fragments,No_of_Subdomains,sus_url,count-digits,count-letters
0,0,br-icloud.com.br,phishing,16,0.000000,0.812500,0,-3.375000,False,16,0,0,0,0,0,13
1,1,mp3raid.com/music/krizz_kaliko.html,benign,35,0.028571,0.828571,0,-4.079143,False,35,0,0,2,0,1,29
2,2,bopsecrets.org/rexroth/cr/1.htm,benign,31,0.032258,0.806452,0,-3.708093,False,31,0,0,3,0,1,25
3,3,http://www.garage-pirenne.be/index.php?option=...,defacement,88,0.079545,0.715909,3,-4.660343,True,10,21,0,1,0,7,63
4,4,http://adventure-nicaragua.net/index.php?optio...,defacement,235,0.093617,0.578723,2,-5.491293,True,10,23,0,1,0,22,199

In [28]:
db = sklearn.utils.shuffle(db)
db.head()

,Unnamed: 0.1,url,type,url_length,Digits_to_char_ratio,Lcase_to_char_ratio,No_of_parameters,Url_entropy,Has_http,Path_length,Host_length,No_of_fragments,No_of_Subdomains,sus_url,count-digits,count-letters
246035,246035,hellomaplevalley.com/,benign,21,0.000000,0.904762,0,-3.327340,False,21,0,0,1,0,0,19
472006,472006,hiphopnewsdaily.com/archives/12701,benign,34,0.147059,0.764706,0,-4.337175,False,34,0,0,2,0,5,26
284806,284806,concordiakirkwood.org/Index.asp?PageID=11547,benign,44,0.113636,0.681818,0,-4.462288,False,31,0,0,1,0,5,34
618684,618684,www.c-spanvideo.org/stephenjobs,phishing,31,0.000000,0.870968,0,-4.147114,False,31,0,0,1,0,0,27
98661,98661,mjtimes.sk.ca/index.cfm?sid=24121&sc=15,benign,39,0.179487,0.615385,1,-4.265545,False,23,0,0,1,0,7,24

In [29]:
db.head()

,Unnamed: 0.1,url,type,url_length,Digits_to_char_ratio,Lcase_to_char_ratio,No_of_parameters,Url_entropy,Has_http,Path_length,Host_length,No_of_fragments,No_of_Subdomains,sus_url,count-digits,count-letters
246035,246035,hellomaplevalley.com/,benign,21,0.000000,0.904762,0,-3.327340,False,21,0,0,1,0,0,19
472006,472006,hiphopnewsdaily.com/archives/12701,benign,34,0.147059,0.764706,0,-4.337175,False,34,0,0,2,0,5,26
284806,284806,concordiakirkwood.org/Index.asp?PageID=11547,benign,44,0.113636,0.681818,0,-4.462288,False,31,0,0,1,0,5,34
618684,618684,www.c-spanvideo.org/stephenjobs,phishing,31,0.000000,0.870968,0,-4.147114,False,31,0,0,1,0,0,27
98661,98661,mjtimes.sk.ca/index.cfm?sid=24121&sc=15,benign,39,0.179487,0.615385,1,-4.265545,False,23,0,0,1,0,7,24

In [30]:
print('The shape of our dataset is:', db.shape)

The shape of our dataset is: (651191, 16)

In [31]:
header=["Number", "url","type","f1","f2","f3","f4","f5","f6","f7","f8","f9","f10","f11","f12", "f13"]
db.columns=header
db.drop(["Number","url"],axis=1,inplace=True)
db.head()

,type,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,f13
246035,benign,21,0.000000,0.904762,0,-3.327340,False,21,0,0,1,0,0,19
472006,benign,34,0.147059,0.764706,0,-4.337175,False,34,0,0,2,0,5,26
284806,benign,44,0.113636,0.681818,0,-4.462288,False,31,0,0,1,0,5,34
618684,phishing,31,0.000000,0.870968,0,-4.147114,False,31,0,0,1,0,0,27
98661,benign,39,0.179487,0.615385,1,-4.265545,False,23,0,0,1,0,7,24

In [32]:
enc= preprocessing.LabelEncoder()
db["f1"]=enc.fit_transform(db["f1"])
db["f2"]=enc.fit_transform(db["f2"])
db["f3"]=enc.fit_transform(db["f3"])
db["f4"]=enc.fit_transform(db["f4"])
db["f5"]=enc.fit_transform(db["f5"])
db["f6"]=enc.fit_transform(db["f6"])
db["f7"]=enc.fit_transform(db["f7"])
db["f8"]=enc.fit_transform(db["f8"])
db["f9"]=enc.fit_transform(db["f9"])
db["f10"]=enc.fit_transform(db["f10"])
db["f11"]=enc.fit_transform(db["f11"])
db["f12"]=enc.fit_transform(db["f12"])
db["f13"]=enc.fit_transform(db["f13"])
db["type"]=enc.fit_transform(db["type"])
db.head()

        type  f1    f2     f3  f4      f5  f6  f7  f8  f9  f10  f11  f12  f13
246035     0  19     0  10152   0  226947   0  21   0   0    1    0    0   19
472006     0  32  2792   8584   0  153336   0  34   0   0    2    0    5   26
284806     0  42  2012   7369   0  117779   0  31   0   0    1    0    5   34
618684     3  29     0   9933   0  191900   0  31   0   0    1    0    0   27
98661      0  37  3394   6226   1  170046   0  23   0   0    1    0    7   24

In [33]:
X=db[["f1","f2","f3","f4","f5","f6","f7","f8","f9","f10","f11","f12"]]
Y=db["type"]

In [34]:
#Splitting the Dataset into Training and Test Dataset
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [35]:
import numpy as np

In [38]:
from sklearn.model_selection import cross_validate

In [39]:
X

         f1    f2     f3  f4      f5  f6  f7  f8  f9  f10  f11  f12
246035   19     0  10152   0  226947   0  21   0   0    1    0    0
472006   32  2792   8584   0  153336   0  34   0   0    2    0    5
284806   42  2012   7369   0  117779   0  31   0   0    1    0    5
618684   29     0   9933   0  191900   0  31   0   0    1    0    0
98661    37  3394   6226   1  170046   0  23   0   0    1    0    7
...     ...   ...    ...  ..     ...  ..  ..  ..  ..  ...  ...  ...
196685   70   431   8999   1  100977   1  10  20   0    1    0    2
17168   121  3237   7388   0   44595   1  53  60   0    5    1   21
54168    15     0  10019   0  226912   0  17   0   0    1    0    0
253322   36  4776   6031   0  125084   0  38   0   0    4    0   10
299390   83   564   8407   3  123977   1  14  14   0    2    0    3

[651191 rows x 12 columns]

In [40]:
Y

246035    0
472006    0
284806    0
618684    3
98661     0
         ..
196685    1
17168     3
54168     0
253322    0
299390    1
Name: type, Length: 651191, dtype: int64

In [41]:
X_train

         f1    f2     f3  f4      f5  f6   f7  f8  f9  f10  f11  f12
613625   50     0   8659   0  177597   0   52   0   0    5    0    0
649298   29     0   8260   0  176264   0   31   0   0    3    0    0
391234  107  1198   8820   0   83525   0  109   0   0    3    0    8
80859    95     0   9477   1  181067   1    7  10   0    3    0    0
596460  343  2557   3713   1      77   0   79   0   0    3    1   47
...     ...   ...    ...  ..     ...  ..  ...  ..  ..  ...  ...  ...
494678   42   752   8364   0  141000   1   12  12   0    1    0    2
340290   10     0  10192   0  227424   0   12   0   0    0    0    0
482075   26     0   9435   0  221827   0   28   0   0    2    0    0
513857   30     0  10155   0  220382   0   32   0   0    1    0    0
412969   80   589   9017   0  134131   1   46  26   0    3    0    3

[455833 rows x 12 columns]

In [42]:
Y_train

613625    3
649298    3
391234    0
80859     0
596460    0
         ..
494678    1
340290    3
482075    0
513857    0
412969    1
Name: type, Length: 455833, dtype: int64

In [50]:
import matplotlib.pyplot as plt
plt.style.use('classic')

In [53]:
from sklearn import neighbors

In [56]:
clf= neighbors.KNeighborsClassifier()
clf.fit(X_train, Y_train)

accuracy = clf.score(X_test, Y_test)
print('Model accuracy = ', accuracy*100)

Model accuracy =  77.9686524227316